.noticationmenu {
    width: 100%;
    height: 70px !important;
    background-color: #fefefe;
    position: fixed;
    box-shadow: 0 6px 10px 0 rgba(28, 9, 80, .25);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.allin {
    height: 100% !important;
    background-color: #fefefe;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.noticationmenu .logoa {
    width: 35px;
    display: flex;
    align-items: center;
}

.noticationmenu .logoa span {
    font-weight: bold;
}

.noticationmenu .allin .iconnotification {
    height: 35px;
    width: 35px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #f3eeeeda;
    border-radius: 50%;
    padding: 5px;
}

.noticationmenu .allin .iconnotification span {
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.363);
    color: red;
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 15%;
    height: 15px;
    width: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-weight: bold;
}

@media only screen and (min-width: 530px) and (max-width: 900px) {
    .noticationmenu .allin .iconnotification span {
        right: 25%;
    }
}



@media (max-width: 530px) {
    .noticationmenu .allin .iconnotification span {
        right: 35%;
    }
}

.noticationmenu .allin .iconnotification:hover .dropdowna {
    display: block;
}

.noticationmenu .allin .iconnotification .dropdowna {
    width: 200px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #eeeeee;
    position: absolute;
    right: 7%;
    border-radius: 7px;
    cursor: default !important;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    display: none;
}


.noticationmenu .allin .iconprofile {
    height: 37px;
    width: 37px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #fefefe;
}

.noticationmenu .allin .iconprofile:hover .dropdown {
    display: block;
}

.noticationmenu .allin .iconprofile .dropdown {
    width: 200px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #eeeeee;
    position: absolute;
    right: 0%;
    border-radius: 7px;
    cursor: default !important;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    display: none;
}

.noticationmenu .allin .iconprofile .dropdown ul {
    list-style-type: none;
    text-align: left !important;
    line-height: 35px;
}

.noticationmenu .allin .iconprofile .dropdown ul li {
    color: #aaaaaa;
}

.noticationmenu .allin .iconprofile .dropdown ul li.diconnector {
    cursor: pointer;
}

.noticationmenu .allin .iconprofile .dropdown ul li.diconnector:hover {
    color: rgb(243, 43, 87);
}

.noticationmenu .allin .iconprofile .dropdown ul li i {
    color: #087752;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* For Edge */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #087752;
    /* Fallback color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #fd8a06;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #f0b434;
}

/* Width and color for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fd8a06 #087752;
}

/* Width and color for Edge */
* {
    -ms-overflow-style: none;
    /* Hide scrollbar in Edge */
}

*::-webkit-scrollbar {
    width: thin;
    /* For Firefox */
    height: thin;
    /* For Firefox */
}

*::-webkit-scrollbar-track {
    background-color: #087752;
    /* Fallback color for Firefox */
}

*::-webkit-scrollbar-thumb {
    background-color: #fd8a06;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #f0b434;
}

.searchBoar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
}

.searchBoar .inputBg {
    width: 150px;
    border-radius: 12px !important;
}

.searchBoar i {
    margin-left: -45px;
    font-size: large;
    font-weight: bold;
    color: #fd8a06;
    padding: 7px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    cursor: pointer;
}

.loadia {
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 200px;
    width: 100%;
    align-self: center;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    overflow: hidden;
    display: none;
    text-align: center;
}

.valideuser {
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 300px;
    width: 100%;
    align-self: center;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    overflow: hidden;
    display: none;
    padding: 10px;
}

.valideuser #userinfos {
    width: 70%;
    text-align: left;
}

.valideuser .baima {
    filter: grayscale(100%);
    z-index: -1;
    /* Ensure the background is behind other content */
    transform: rotate(45deg);
    /* Rotate the background image by 45 degrees */
    opacity: 0.2;
    /* Adjust the opacity value (from 0 to 1) to decrease opacity */
    position: absolute;
    height: 50px;
    width: 50px;
    align-self: flex-start;
}


.valideuser .baimb {
    filter: grayscale(100%);
    z-index: -1;
    /* Ensure the background is behind other content */
    transform: rotate(102deg);
    /* Rotate the background image by 45 degrees */
    opacity: 0.2;
    /* Adjust the opacity value (from 0 to 1) to decrease opacity */
    position: absolute;
    height: 50px;
    width: 50px;
    align-self: flex-start;
    margin-left: 25%;
    margin-top: 17%;
}

@media (max-width: 620px) {
    .searchBoar {
        width: 100%;
    }
}

.dropdown .lnr {
    padding-right: 12px !important;
}


#nni {
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#nni:focus {
    width: 100%;
}


.searchBoar .fingerprin {
    height: 40px;
    width: 40px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #f3eeeeda;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 6px 10px 0 rgba(5, 66, 66, 0.418);
    cursor: pointer;
}

.searchBoar .photo {
    height: 33px;
    width: 33px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 6px 10px 0 rgba(9, 80, 80, 0.25);
    cursor: pointer;
}